<template>
  <input type="text" :value="newItem.text" @input="changeText($event)">
  <button @click="createHandler">create</button>
</template>

<script lang='ts'>
import { defineComponent, PropType, ref, watch, computed } from 'vue'
import { Item } from '../AppTypes'

const emptyItem = {
  id: null,
  text: null,
  done: false
}

export default defineComponent({
  name: 'AppCreateItem',
  emits: ['create', 'change'],
  props: {
    item: {
      type: Object as PropType<Item>,
      default: () => ({})
    }
  },
  setup (props, { emit }) {
    const newItem = ref({
      ...emptyItem,
      ...props.item
    })
    watch(computed(() => props.item), () => {
      newItem.value = { ...props.item }
    })
    const changeText = (event: InputEvent) => {
      newItem.value.text = (event?.target as HTMLInputElement).value
    }
    const createHandler = () => {
      if (newItem.value.id) {
        emit('change', newItem.value)
      } else {
        newItem.value.id = Date.now()
        emit('create', newItem.value)
      }
      newItem.value = Object.defineProperties({} as Item, Object.getOwnPropertyDescriptors(emptyItem))
    }

    return {
      newItem,
      createHandler,
      changeText
    }
  }
})
</script>
