<template>
  <div :class="['item', {'done': item.done}]"
      @click="$emit('done')">
      <div>
        <input type="checkbox" :checked="item.done">
        <span>{{ item.text }}</span>
      </div>
      <div>
        <button @click.stop="$emit('delete')">X</button>
        <button @click.stop="$emit('change')" :disabled="item.done">V</button>
      </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'AppListItem',
  emits: ['done', 'delete', 'change'],
  props: {
    item: {
      type: Object,
      default: () => ({})
    }
  },
  setup () {
    return {
    }
  }
})
</script>

<style scoped>
  .item {
    cursor: pointer;
    width: max-content;
    min-width: 250px;
    margin-bottom: 1rem;
    padding: .2rem 0;
    border: .1rem solid blue;
    border-radius: .1rem;
    display: flex;
    justify-content: space-between;
  }

  .item button {
    margin: 0 .2rem;
  }

  .done {
    text-decoration: line-through;
    border-color: purple
  }
</style>
