<template>
    <div class="items">
      <AppListItem v-for="item of items"
                  :item="item"
                  :key="item.id"
                  @done="$emit('change', EVENT.DONE, item)"
                  @change="$emit('change', EVENT.CHANGE, item)"
                  @delete="$emit('change', EVENT.DELETE, item)"/>
    </div>
</template>

<script>
import { defineComponent } from 'vue'
import AppListItem from './AppListItem.vue'
import { EVENT } from '../AppTypes'

export default defineComponent({
  name: 'AppList',
  components: {
    AppListItem
  },
  emits: ['change'],
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  setup () {
    return {
      EVENT
    }
  }
})
</script>

<style scoped>
  .items {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
</style>
