<template>
  <div class="home">
    <div class="title" v-text="title" />
    <AppCreateItem :item="newItem" @create="addItem" @change="changeItem" />
    <AppList :items="items" @change="changeHandler" />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, reactive, ref } from 'vue'
import { Item, EVENT } from './AppTypes'
import { AppList, AppCreateItem } from './components'

export default defineComponent({
  name: 'App',
  components: {
    AppList,
    AppCreateItem
  },
  setup () {
    const title = computed(() => 'ToDo app')

    const newItem = ref<Item | null>(null)

    const items = reactive<Array<Item>>([
      {
        id: 1,
        done: false,
        text: 'Create app'
      },
      {
        id: 2,
        done: false,
        text: 'Buy milk'
      }
    ])

    const addItem = (newItem: Item) => items.push({ ...newItem })

    const checkDoneItem = (value: Item) => {
      items.forEach((item) => {
        if (value.id === item.id) {
          item.done = !item.done
        }
      })
    }

    const deleteItem = (value: Item) => {
      if (!confirm(`Delete item ${value.text}?`)) { return }
      const index = items.findIndex(item => item.id === value.id)
      ~index && items.splice(index, 1)
    }

    const changeItem = (value: Item) => {
      const index = items.findIndex(item => item.id === value.id)
      ~index && (items[index] = { ...value })
    }

    const changeHandler = (type: EVENT, value: Item) => {
      switch (type) {
        case EVENT.DONE:
          checkDoneItem(value)
          return
        case EVENT.DELETE:
          deleteItem(value)
          return
        case EVENT.CHANGE:
          newItem.value = value
      }
    }

    return {
      title,
      items,
      newItem,
      changeHandler,
      addItem,
      changeItem
    }
  }
})
</script>
